<script src="https://cdn.jsdelivr.net/npm/hls.js@0.13.2/dist/hls.min.js"></script>'
<script src="https://cdn.jsdelivr.net/npm/flv.js@1.5.0/dist/flv.min.js"></script>'
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer@1.25.0/dist/DPlayer.min.css">'
<script src="https://cdn.jsdelivr.net/npm/dplayer@1.25.0/dist/DPlayer.min.js"></script>'

<script>
  let max_number = 30;
  let select = '.article-image img[src="/rand"]';

  for (const doc of document.querySelectorAll(select)) {
    doc.src = `/images/bg/bg_${parseInt(Math.random() * max_number)}.jpg`;
  }
</script>
